* {
  font-family: Helvetica, Arial, sans-serif;
}


h1 {
  color: khaki;
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg);
}

#brush {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: mediumspringgreen;
}

#frame {
  background-color: lightcoral;
  font-family: helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

#paint {
  background-color: skyblue;
  font-family: helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.price {
  font-family: helvetica;
  color: Blue;
  font-weight: bold;
}


p,
li {
  font-size: 18px;
}


a {
  text-decoration: none;
}
